<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybinal.shop.mapper.OrderItemMapper">
	<resultMap id="BaseResultMap" type="com.sybinal.shop.model.OrderItem">

		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="order_num" jdbcType="VARCHAR" property="orderNum" />
		<result column="product_id" jdbcType="INTEGER" property="productId" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="quantity" jdbcType="INTEGER" property="quantity" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="option_value_key_group" jdbcType="VARCHAR" property="optionValueKeyGroup" />
		<result column="json_data" jdbcType="VARCHAR" property="jsonData" />
		<result column="sku_id" jdbcType="INTEGER" property="skuId" />

		<collection  column="idp" ofType="com.sybinal.shop.model.Product" property="productList">
			<id column="ProductId" jdbcType="INTEGER" property="id" />
			<result column="ProductName" jdbcType="VARCHAR" property="name" />
			<result column="ProductCategory_id" jdbcType="INTEGER" property="categoryId" />
			<result column="ProductGeneral_explain" jdbcType="VARCHAR" property="generalExplain" />
			<result column="ProductDiscount" jdbcType="INTEGER" property="discount" />
			<result column="ProductShop_price" jdbcType="INTEGER" property="shopPrice" />
			<result column="ProductPrice" jdbcType="INTEGER" property="price" />
			<result column="ProductQuantity" jdbcType="INTEGER" property="quantity" />
			<result column="ProductHot" jdbcType="INTEGER" property="hot" />
			<result column="ProductProduct_status" jdbcType="INTEGER" property="productStatus" />
			<result column="default_img" jdbcType="VARCHAR" property="defaultImg" />
	    </collection>
	</resultMap>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, order_num, product_id, price, quantity, user_id, option_value_key_group, json_data, sku_id 
	</sql>

	<sql id="Base_Column_OrderItemList">
		t1.id, t1.order_num, t1.product_id, t1.price, t1.quantity,
		t1.user_id,t1.option_value_key_group, t1.json_data, t1.sku_id 
	</sql>
	
	<sql id="Base_Column_ProductList">
		t3.id as ProductId,
		t3.name as ProductName,
		t3.Category_id as ProductCategory_id,
		t3.General_explain as ProductGeneral_explain,
		t3.Discount as ProductDiscount,
		t3.Shop_price as ProductShop_price,
		t3.Price as ProductPrice,
		t3.Quantity as ProductQuantity,
		t3.Hot as ProductHot,
		t3.Product_status as ProductProduct_status,
		t3.default_img
	</sql>

	<select id="selectByExample" parameterType="com.sybinal.shop.model.OrderItemExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_OrderItemList" />
		,
		<include refid="Base_Column_ProductList" />
		from order_item t1
		left join product t3 on t1.product_id = t3.id 
		LEFT JOIN order_info t4 ON t1.order_num = t4.order_num
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		select
		<include refid="Base_Column_List" />
		from order_item
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM
		order_item
		WHERE order_num IN
		( SELECT order_num FROM order_info WHERE
		user_id =
		#{userId,jdbcType=INTEGER}
		AND type=1 )

	</delete>
	<delete id="deleteByExample" parameterType="com.sybinal.shop.model.OrderItemExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		delete from order_item
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.sybinal.shop.model.OrderItem">
		insert into order_item (id,
		order_num, product_id,
		price, quantity, user_id, option_value_key_group, json_data, sku_id
		)
		values
		(#{id,jdbcType=INTEGER}, #{orderNum,jdbcType=VARCHAR},
		#{productId,jdbcType=INTEGER},
		#{price,jdbcType=INTEGER},
		#{quantity,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{optionValueKeyGroup,jdbcType=VARCHAR},
		#{jsonData,jdbcType=VARCHAR},
		#{skuId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.sybinal.shop.model.OrderItem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		insert into order_item
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="userId != null">
				user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderNum != null">
				#{orderNum,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=INTEGER},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="java.lang.Integer" resultType="java.lang.Integer">

		select count(*) from order_item where order_num in( 
			select order_num from order_info where user_id = #{userId,jdbcType=INTEGER} and type=1
		)

	</select>
	<update id="updateByExampleSelective" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		update order_item
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.orderNum != null">
				order_num = #{record.orderNum,jdbcType=VARCHAR},
			</if>
			<if test="record.productId != null">
				product_id = #{record.productId,jdbcType=INTEGER},
			</if>
			<if test="record.price != null">
				price = #{record.price,jdbcType=INTEGER},
			</if>
			<if test="record.quantity != null">
				quantity = #{record.quantity,jdbcType=INTEGER},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		update order_item
		set id = #{record.id,jdbcType=INTEGER},
		order_num =
		#{record.orderNum,jdbcType=VARCHAR},
		product_id =
		#{record.productId,jdbcType=INTEGER},
		price =
		#{record.price,jdbcType=INTEGER},
		quantity =
		#{record.quantity,jdbcType=INTEGER},
		user_id =
		#{record.userId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.sybinal.shop.model.OrderItem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Wed Oct 19 
			21:07:43 CST 2016. -->
		update order_item
		<set>
			<if test="orderNum != null">
				order_num = #{orderNum,jdbcType=VARCHAR},
			</if>
			<if test="productId != null">
				product_id = #{productId,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=INTEGER},
			</if>
			<if test="quantity != null">
				quantity = #{quantity,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.sybinal.shop.model.OrderItem">
		update order_item
		set order_num = #{orderNum,jdbcType=VARCHAR},
		product_id = #{productId,jdbcType=INTEGER},
		price =
		#{price,jdbcType=INTEGER},
		quantity = #{quantity,jdbcType=INTEGER},
		user_id = #{userId,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateByQuantity" parameterType="com.sybinal.shop.model.OrderItem">
		update order_item set 
		quantity = #{quantity,jdbcType=INTEGER} 
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	
</mapper>